@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family: "poppins",sans-serif;
  color: aliceblue;
  margin: 0;
  background-image: url("images/streetwindy-rYIrNpFFilI-unsplash.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.countdown-container{
display: flex;
}
h1{
  font-size: 4rem;
  margin-top: -15rem;
  font-weight: normal;
}
.big-text{
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
  font-weight: bold;
}
.countdown-el{
  text-align: center;
}
.countdown-el span{
  font-size: 1.5rem;
}